PORT=3001
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:5173

FIREBASE_PROJECT_ID=bingoplusbch
FIREBASE_DATABASE_URL=https://bingoplusbch-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_SERVICE_ACCOUNT_PATH=./secrets/firebase-service-account.json

BCH_NETWORK=chipnet
EXPLORER_ADDRESS_BASE=https://chipnet.bchexplorer.info/address/
EXPLORER_TX_BASE=https://chipnet.bchexplorer.info/tx/

PAYOUT_SATS=5000
TX_FEE_SATS=1000
DUST_THRESHOLD_SATS=546

WALLET_ENCRYPTION_KEY=<GENERATE_32_RANDOM_BYTES_AS_64_HEX_CHARACTERS>
WALLET_ENCRYPTION_KEY_VERSION=1
HOUSE_WIF=<GENERATE_ONE_NEW_CHIPNET_WIF>

DEMO_STARTING_SATS=0
MIN_BET_SATS=100
MAX_BET_SATS=5000
DEFAULT_HOUSE_EDGE_BPS=200
MIN_WITHDRAWAL_SATS=1000
DEPOSIT_SCAN_ENABLED=true
