VITE_FIREBASE_API_KEY=AIzaSyATPQMfXhgZH6gqBmK6cSv1cazMtbaG-gM
VITE_FIREBASE_AUTH_DOMAIN=bingoplusbch.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://bingoplusbch-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=bingoplusbch
VITE_FIREBASE_STORAGE_BUCKET=bingoplusbch.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=565288116823
VITE_FIREBASE_APP_ID=1:565288116823:web:ce627d5814e135c655b912

VITE_API_BASE_URL=http://localhost:3001/api/v1
VITE_APP_CHECK_SITE_KEY=
